body {
	margin: 0 80px 50vh 10px;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 10px;
}

td {
	border: 1px solid #808080;
	padding: 5px 10px;
	text-align: center;
	font-family: monospace;
	vertical-align: top;
}

thead {
	position: sticky;
	top: 0;
	background: white;
	box-shadow:
		0 -2px 0 2px white,
		0 1px 0 #808080;
}

td:first-child {
	text-align: left;
}

th {
	font: 1em sans-serif;
	min-width: 30px;
	height: 250px;
	white-space: nowrap;
	text-align: left;
	vertical-align: bottom;
	position: relative;
}

th > div {
	position: absolute;
	left: 100%;
	bottom: -1px;
	padding: 0 5px;
	transform-origin: bottom left;
	transform: rotate(-45deg);
	border-bottom: 1px solid #808080;
}

.w--1 {
	background: #eeeeee;
}
.w-0 {
	background: #cccccc;
}
.w-1 {
	background: #ffffff;
}
.w-2 {
	background: #ccccff;
}
.pass {
	background: #ccff80;
}
.fail {
	background: #cc0000;
	color: white;
}

.left {
	text-align: left;
}

.nowrap {
	white-space: nowrap;
}

.notes {
	font: 0.9em sans-serif;
}

#unassigned:not(:checked) ~ table .unassigned {
	display: none;
}

#unassigned,
label {
	position: sticky;
	top: 10px;
	z-index: 1;
}
